<div class = "container">
  <form [formGroup] = "propertyForm" novalidate>
         <div class="card">
              <div class="card-header">Property details:</div>
              <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="Url">Property Url:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Url" >{{property.Url}}</label>
                        </div>
                    </div>
                </div>
                        <!-- property type -->
                  <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6">
                            <label for="PropertyType">Property Type:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Url" >{{property.PropertyType}}</label>
                        </div>
                    </div>
                  </div>
                  <!-- Number of guests -->
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="Guests">Number of Guests:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Url" >{{property.Guests}}</label>
                        </div>
                    </div>
                  </div>
                   <!-- Number of bathrooms -->
                  <div class="form-group">
                    <div class="row">
                         <div class="col-sm-6">
                            <label for="Bathrooms">Number of Bathrooms:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Url" >{{property.Bathrooms}}</label>
                        </div>
                   </div>
                </div>
                  <!-- Number of beds -->
                  <div class="form-group">
                    <div class="row">
                            <div class="col-sm-6">
                        <label for="Beds">Number of Beds:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="Url" >{{property.Beds}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>